{% extends 'base.html.twig' %}

{% block title %}52 Les Jeux du Cirques -Accueil{% endblock %}

{% block content %}
{% if app.user %}
<div class=" alert alert-signUp text-center fs-5">

    Vous êtes connecté avec succès
        {{ app.user.userIdentifier }}
</div>
{% endif %}

<div class="container_background">
    <div class="banner">
        <h1 class="title_banner">
            52 Avant J.C
        </h1>
    </div>
    <div class="banner_content">
        <div class="title_content">
            <h5 class="title_banner_content">
                Les jeux du cirques est un jeu féroce dans lesquelles de puissant gladiateurs s'affronte !
            </h5>
            <h2 class="title_part">Voulez-vous participez ?</h2>
            <button class="btn_sign">
                <a href="/registration" class="btn-link">
                    INSCRIPTION
                </a>
            </button>
        </div>
    </div>
</div>
{% endblock %}
