:root{
    --bg-navbar:#9e6001;
    --title-color-nav:#ffd700;
    --bg-menu-hamburger: #fff;
    --title-background:#ffd700;
    --bg-background:#feefa3;
    --text-color-background:#886409;
    --button-background:#f1b84a;
    --button-text-color: #ffea7e;
    --text-stroke-color: #daa724;
    --text-color-label: #9e712d;
    --background_home: #ecb72f;
    --background-ludis: #e1a064;
}


.personnal_navbar{
    background: var(--bg-navbar) !important;
    z-index: 1;

}

.personnal_brand{
    font-weight: 600;
    color: var(--title-color-nav) !important;
    font-size: 25px !important;
}
.nav-link{
    color: var(--title-color-nav) !important;
    text-align: center;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-top: 5px;
}
.personnal_menu{
    padding: 10px 10px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    background: var(--title-color-nav) !important;
}

.container_background{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image/arena.jpg');
    background-size: cover;
    background-position: center;
}
.title_banner{
    font-size: 80px;
    width: 400px;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-background);
    text-shadow: 0px 4px 4px #555;
}

.banner_content{
    margin-top: 2rem;
    color: var(--text-color-background);
}

.banner_content .title_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.banner_content .title_content .title_banner_content{
    text-align: center;
    width: 70%;
}

.banner_content .title_content .title_part{
    text-transform: uppercase;
}

.banner_content .title_content .btn_sign{
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: var(--button-background);
    color: var(--button-text-color);
    font-weight: 600;
    font-size: 20px;
    animation: btnAnim 2s linear;
    -webkit-animation: btnAnim 2s linear infinite;
    box-shadow: 0px 4px 10px 1px #555;
}
.btn-link{
    text-decoration: none !important;
    color: var(--button-text-color);

}
@keyframes btnAnim {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50%{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
}

.container_bg_color{
    height: 110vh !important;
    width: auto;
    background-color: var(--bg-background);
    overflow: hidden;
}

.mb-3 .form-label{
    margin-top: 10px;
}

.personnal_btnSubmit{
    border: none;
    margin-top: 10px;
    background: var(--button-background) !important;
    padding: 1rem 3rem !important;
    color: var(--button-text-color) !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    
    box-shadow: 0px 4px 10px #555;
    animation: btnAnim 2s linear infinite;
    -webkit-animation: btnAnim 2s linear infinite;
    text-transform: uppercase;
}

.personnal_display{
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.personnal_title_login{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.container_btn{
    display: flex;
    justify-content: center;
}

.container_blur{
    width: 100%!important;
    height: 100vh!important;
    background-color: rgba(0, 0, 0, 0.6)!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personnal_title_card_ludi{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--text-color-background);
    font-weight: 600;
    margin-bottom: 10px !important;
}

.personnal_card_text{
    text-align: center;
    color: var(--text-color-background);
    font-size: 20x;
    font-weight: 500;
    text-transform: uppercase;
}

.personnal_label_ludi{
    margin-bottom: 20px !important;
}

.personnal_card_ludi{
    background: var(--bg-background) !important;
}

.btnSubmitLudi{
    padding: 1rem 3rem !important;
    background-color: #f1b84a !important;
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
    color: var(--button-text-color) !important;
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.conatainer_background_homeLaniste .title_homeLaniste{
    color: var(--text-color-background) !important;
    background-color: var(--background_home);
    display: block;
    padding: 1rem 4rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

}

.logo_container_arena_gladiator{
    height: 100px;
    width: auto;
    background: url("../../assets/image/colosseum.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -15px;
}

.circle_count_ludis{
    height: 50px;
    width: 50px;
    background: var(--background_home);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    -webkit-transform: translate(-50%, -25%);
    -moz-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    -o-transform: translate(-50%, -25%);
}

.circle_count_ludis .number_ludis{
    color: var(--title-background);
}

.container_homeLaniste .container_ludis_item{
    background: var(--background_home) !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.logo_helmet_gladiator{
    height: 150px;
    width: auto;
}

.container_ludis_item{
    width: 85%;
    height: 400px !important;
    overflow: auto;
}

.content_ludis{
    background: var(--bg-background);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 90%;

}

.logo_helemet_gladiator{
    width: 100px;
    height: 100px;
    background-color: var(--background_home);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}

.container_item{
    background-color: var(--background-ludis) !important;
}
.item_ludi{
    color: var(--bg-background);
    text-transform: uppercase;
}
.item_ludi_p{
    margin-top: 8px;
}

.container_button_add{
    background-color: var(--background_home) !important;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    left: 10%;
    top: 30px;
    border: 5px solid var(--background-ludis )!important;
}

.linkBtn{
    z-index: 0;
}
.plusBtn{
    z-index: 1;
    position: relative;
    left: 20%;
    top: -30px;
}

.personnal_alert_errorCoin{
    background: #f68ba0 !important;
    color: rgb(103, 6, 25) !important;
    text-align: center;
}

.content_treasure{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-80px , -50%);
    -webkit-transform: translate(-80px , -50%);
    -moz-transform: translate(-80px , -50%);
    -ms-transform: translate(-80px , -50%);
    -o-transform: translate(-80px , -50%);
}
.content_treasure{
    width: 150px;
    height: auto;;
}
.content_gold{
    background-color: var(--background_home);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

}
.container-coin{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-color-background);

}

.background_details{
    color: var(--background_home);
}

.personnal_position_size{
    height: 400px !important;
    overflow-y: scroll;
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}

.personnal_size_avatar{
    width: 120px !important;
    height: 120px !important;
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.personnal_size_logos{
    width: 60px !important;
    height: 60px !important;
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.personnal_position_title{
    position: relative;
    top: 10%;
}

.personnal_position_search{
    position: relative;
    top: -50px;
    left: 70%;
}

.content_walpaper{
    width: 100%;
    height: 100%;
    background: url('../image/fight.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.personnal_size_game{
    font-size: 80px;
    animation: btnAnim 2s linear;
    -webkit-animation: btnAnim 2s linear infinite;
}